@*@model Message
*@

@model IEnumerable<Message> 
@{
    ViewData["Title"] = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>

<h1>Private chat</h1>
<div style="width:75%">
    <div class="py-2 px-4 border-bottom d-none d-lg-block">
        <div class="d-flex align-items-center py-1">
            <div class="flex-grow-1 pl-3">
                <strong>NameWhomWrite</strong>
                <div class="text-muted small"><em>Typing...</em></div>
            </div>
        </div>  
</div>

<div id="chat" class="chat-messages p-4" style="overflow-y: scroll; height: 570px;" >


    @foreach(var chat in Model)
    {
     <div id= "chat=@chat.Id" class="content chat-message-left pb-4">
        <input  runat="server" value="@chat.Id" type="hidden"></input>
        <div class="hide buttons-container" role="group" aria-label="Дії з повідомленнями">
            <div class="d-flex  justify-content-end">
                <input  type="button" class="button" aria-label="Видалити"   value=&#x2716; role="button" tabindex="0"></input>
                <input  type="button" class="button" aria-label="Редагувати" value="ED"     role="button" tabindex="0"></input>
                <input  type="button" class="button" aria-label="Відповисти" value=&#64;    role="button" tabindex="0"></input>
            </div>
        </div>
        <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
            <input  runat="server" value="@chat.UserId" type="hidden"></input> 
            <div class="font-weight-bold fw-bold mb-1">@chat.User.UserName</div>
                <div>@chat.TextMessage </div>
            </div>
            <div class="d-flex flex-row justify-content-end p-1">
                <p>@chat.DateMessage</p>
            </div>
     </div>
    }

</div>
<script>document.querySelector('#chat').lastElementChild.scrollIntoView();</script>

<div class="input-group flex-grow-0 py-3 px-4 border-top">
   @* <form asp-controller="Home" asp-action="SendMessage">
            <input type="hidden" name="chatID" value="@Model.Id"/>*@
            <input  name="TextMessage" id="messageInput"type="text" class="form-control" placeholder="Type your message">
            <input  type="submit" id="sendButton" class="btn btn-primary" value="Send Message"></input>
    @*        </form>*@
</div>

</html>

@*
Exemple 
<div class="content chat-message-left pb-4">
    <div class="hide buttons-container" role="group" aria-label="Дії з повідомленнями">
        <div class="d-flex justify-content-end">
            <input  type="button" class="button" aria-label="Видалити"   value="DEL"; role="button" tabindex="0"></input>
            <input  type="button" class="button" aria-label="Редагувати" value="ED"     role="button" tabindex="0"></input>
            <input  type="button" class="button" aria-label="Відповисти" value=&#64;    role="button" tabindex="0"></input>
        </div>
    </div>
    <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
       <div class="font-weight-bold fw-bold mb-1">NickName</div>
       <div>MessageText</div>
    </div>
    <div class="d-flex flex-row justify-content-end p-1">
       <p>DateMessage</p>
    </div>
</div>
*@