@model Room
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager
@{
    ViewData["Title"] = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
       <script src="~/js/signalr/dist/browser/signalr.js"></script>
<div style="width:75%">
    <div class="py-2 px-4 border-bottom d-none d-lg-block">
        <div class="d-flex align-items-center py-1">
            <div class="flex-grow-1 pl-3">
                @if (Model.TypeRoom == false)
                {
                <h1>Приватний чат з
                @foreach (var User in Model.Participants){
                            @if (@signInManager.Context.Session.GetString("UserId") != @User.UserId  )
                      {
                                @User.User.UserName
                            }   
                }
                    </h1>
                }
                else
                {
                <h1>Група: @Model.RoomName</h1>
                }
            </div>
        </div>  
</div>

<div id="chat" class="chat-messages p-4" style="overflow-y: scroll; height: 570px;" >


    @foreach(var message in Model.Messages)
    {
     <div id= "chat=@message.Id" value="@message.Id" class="content chat-message-left pb-4">
        <input  runat="server" value="@message.Id" type="hidden"></input>
        <div class="hide buttons-container" role="group" aria-label="Дії з повідомленнями">
            <div class="d-flex  justify-content-end">
                        @if (message.UserId == @signInManager.Context.Session.GetString("UserId"))
                        {
                            <input  type="button" class="button" aria-label="Видалити"   value=&#x2716; role="button" tabindex="0"></input>
                            <input  type="button" class="button" aria-label="Редагувати" value="ED"     role="button" tabindex="0"></input>
                            <input  type="button" class="button" aria-label="Відповисти" value=&#64;    role="button" tabindex="0"></input>
                        }
                        else 
                        {
                            <input  type="button" class="button" aria-label="Відповисти" value=&#64;    role="button" tabindex="0"></input>
                        }
            </div>
        </div>
        <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
            <input  runat="server" value="@message.UserId" type="hidden"></input> 
            <div class="font-weight-bold fw-bold mb-1">@message.User.UserName</div>
                <div>@message.TextMessage </div>
            </div>
            <div class="d-flex flex-row justify-content-end p-1">
                <p>@message.DateMessage</p>
            </div>
     </div>
    }

</div>
<div class="input-group flex-grow-0 py-3 px-4 border-top">

            <input id="chatId" type="hidden" name="chatID" value="@Model.Id"/>
            <input  name="TextMessage" id="messageInput"type="text" class="form-control" placeholder="Напишіть своє повідомлення">
            <input  type="submit" id="sendButton" class="btn btn-primary" value="Відправити"></input>

</div>

<script>


</script>
<script>document.querySelector('#chat').lastElementChild.scrollIntoView();</script>
</html>
